* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

body {
    background-image: linear-gradient(to right, #deb887, #fff3b0);
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #7C4E29;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
}

.logo img {
    width: 130px;
}

.nav-list li {
    list-style: none;
    padding: 50px 75px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.nav-list li a:hover {
    color: brown;
}

.header {
    padding: 2%;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    color: brown;
}

h1 {
    font-size: 300%;
    font-weight: bold;
}

h2 {
    font-size: 180%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h3 {
    font-size: 125%;
}

.bio {
    padding-bottom: 50px;
}

.description {
    font-size: 110%;
    padding: 30px;
    padding-right: 5%;
}

.pfp img {
    width: 150px;
    border: 15px solid transparent;
    padding: 10px;
    float: left;
}

.skills {
    padding: 30px;
}

.footer {
    background-color: rgb(190, 158, 116);
    padding-left: 15px;
}

.findme {
    padding: 1%;
    font-size: 150%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer img {
    width: 40px;
    height: auto;
    padding: 10px;
}