html, body {
  line-height: 1.5;
  background-color: #FFECCF;
  color: #201E1D;
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF914D;
  padding: 5px 100px; /* Adjust padding as needed */
}

.logo img {
  vertical-align: middle;
  width: 100px; 
  height: 100px; 
}

.navbar {
  color: #303C6C;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

main {
  flex: 1;
  /* background-color: #B4DFE5; */
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding-bottom:60px;
}

footer {
  background-color: #AB683E;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

footer p {
  margin: 0 1px; 
}

.linkedin-button {
  display: flex;
  color: white;
  padding: 6px 10px;
}

.linkedin-button img {
  vertical-align: middle;
  width: 30px; 
  height: 30px; 
}

.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #D8C3A5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type="submit"]:hover {
  background-color: #45a049;
}