html, body {
  line-height: 1.5;
  background-color: #201c1c;
  color: #BFBFBF;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px; /* Adjust padding as needed */
  border-bottom: 1px solid;
  border-color: #3D3D3D;
}

.logo {
  text-decoration: none;
}

.navbar {
  color: lightgray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:visited {
  color: lightgray;
}

.navbar a:hover {
  color: #7276ba;
  text-decoration-line: none; /* no underline for navbar menu */
}

main {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding-bottom:60px;
}

footer {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border-top: 1px solid;
  border-color: #3D3D3D;
}

footer p {
  margin: 0 1px; 
}

.link-button {
  display: flex;
  color: white;
  padding: 6px 10px;
}

.link-button img {
  vertical-align: middle;
  width: 30px; 
  height: 30px; 
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #3D3D3D;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  /* background-color: #4CAF50; */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* input[type="submit"]:hover {
  background-color: white;
} */

a:visited {
  color: lightgray; /* Same as the default link color */
}

a {
  color: #7276ba;
  font-weight: bold; /* Make the text bold for links */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
  color: #8a8ee2; /* Change color on hover */
  text-decoration: underline;
}

.dates {
  font-weight: bold;
  color: #555;
}

/* Modify after this with page changes */

.about-me {
  background-color: #3D3D3D;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.about-me h1, .about-me h3, .about-me p {
  color: #333;
}
.about-me p {
  line-height: 1.6;
}
.about-me em {
  font-style: italic;
  font-weight: bold;
}

.section-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;          
}

.text-highlight {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-animation {
  overflow: hidden; /* Ensures text is hidden until animation starts */
  white-space: nowrap; /* Prevents text from wrapping */
  animation: typing 2.3s steps(60, end); /* Adjust duration and steps as needed */
}

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFECCF; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the handle */
  border-radius: 5px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}
