body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    background-color: #FBE8A6;
    color: #303c6c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #F4976C;
    color: #303C6C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

main {
    background-color: #B4DFE5;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    flex: 1;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #303C6C;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0 1px; 
}

.linkedin-button {
    display: flex;
    color: white;
    padding: 3px 3px;
}

.linkedin-button img {
    vertical-align: middle;
    width: 35px; 
    height: 35px; 
}